.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    padding: 20px;
    height: 150px;
    color: white;
}

.App-title {
    font-size: 5em;
}

.App-intro {
    font-size: large;
}

.search-field {
    margin: 25px;
}

.search-input {
    width: 500px;
}

.search-field-validation {
    font-size: 0.75em;
    color: red;
}

.action-button {
    width: 250px;
    height: 25px;
}

.search-results {
    padding-top: 50px;
    padding-bottom: 50px;
}

.search-results table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
}

.search-results td {
    padding: 5px 10px;
}

.search-results td:hover {
    background-color: lightgray;
}

.link-field {
    width: 250px;
    margin: 25px 10px 10px;
}

.table-button {
    width: 250px;
}

.popular {
    font-size: 0.75em;
    display: inline-block;
    text-align: left;
    padding: 25px;
}

.popular li {
    color: blue;
    text-decoration: underline;
}

.popular li:hover {
    color: black;
}

.result-row td {
    border-top: solid black;
}

.reference a {
    color: blue;
    font-size: 0.75em;
    text-decoration: none;
}

.facebook-login {
    margin: 10px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
