
body {
    background: url("background-image.jpg") no-repeat fixed;
}

.page {
    text-align: center;
    margin-top: 5%;
}

.search-field {
    margin: 10px;
}

.search-input {
    width: 500px;
}

.action-button {
    width: 250px;
    height: 25px;
    margin: 10px;
}

.table-button {
    width: 350px;
    height: 25px;
    margin: 10px;
}

.search-results {
    margin: 25px;
}

.search-results td {
    padding: 5px 10px;
    color: #e91e63;
}

.search-results tr:hover {
    background-color: #00bcd4;
}

.result-row td {
    border-top: 3px solid #e91e63;
}

.reference a {
    color: #e91e63;
    text-decoration: underline;
    font-style: italic;
}

.link-field {
    width: 250px;
    margin: 25px 10px 10px;
}

.popular {
    display: inline-block;
}

.login {
    font-size: 1.5em;
    text-align: center;
    margin-top: 20%;
}

.options {
    margin: 25px 250px;
}

.options-button {
    padding: 10px;
    width: 100%;
}
