
body {
    background: url("background-image.jpg") no-repeat fixed;
}

.page {
    text-align: center;
    margin-top: 5%;
}

.search-button {
    display: block;
}

.search-field {
    margin: 10px;
}

.search-input {
    width: 500px;
}

.action-button {
    width: 250px;
    height: 25px;
    margin: 10px;
}

.table-button {
    width: 350px;
    height: 25px;
    margin: 10px;
}

.search-results {
    margin: 25px;
}

.search-result {
    margin: 25px auto auto;
    width: 600px;
    text-align: left;
}

.card-button {
    margin: 5px;
}

.reference a {
    color: #00bcd4;
    text-decoration: underline;
    font-style: italic;
}

.link-field {
    width: 250px;
    margin: 25px 10px 10px;
}

.popular {
    display: inline-block;
    margin: 25px;
}

.login {
    font-size: 1.5em;
    text-align: center;
    margin-top: 20%;
}

.options {
    margin: 25px 250px;
}

.options-button {
    padding: 10px;
    width: 100%;
}
